body {
    background-color: #2b2d2c;
    margin: 0;
    font-family: "Monsterrat", "Avenir";
    color: black;
}
.square {
    width: 30%;
    background-color: gray;
    height: 8rem;
    float: left;
    transition: background 150ms;
    -webkit-transition: background 150ms;
    -moz-transition: background 150ms;
    border: 2px solid purple;
    font-size: 100px;
    text-align: center;
    
}

h1 {
    color: white;
    line-height: 1.1;
    font-weight: normal;
    text-align: center;
    background-color: green;
    margin: 0;
    text-transform: uppercase;
    padding: 20px 0;

} 

#container {
    margin: 20px auto;
    max-width: 600px;
}

#stripe {
    background-color: white;
    height: 30px; 
    text-align: center;
    text-transform: uppercase;
}

#display {
    display: inline-block;
    width: 25%;
}

button {
    border: none;
    text-transform: uppercase;
    height: 100%; 
    font-weight: 700;
    color: green;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 300ms;
}

button:hover {
    color: white;
    background-color: green;
}